@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin notlastchildright {
    &:not(:last-child) {
        margin-right: $gutter-horizontal;
    }
}

@mixin notlastchildbottom {
    &:not(:last-child) {
        margin-bottom: $gutter-vertical;
    }
}

@mixin absolute-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}