$color-primary: #55c57a;
$color-primary-light: #28b485;
$color-primary-dark: #7ed56f;

$color-grey-light-1: #f7f7f7;

$color-black: #000;
$color-grey-dark: #777;
$color-white: #FFF;

$grid-width: 114rem;
$gutter-vertical: 4rem;
$gutter-horizontal: 2rem;